* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poopins", sans-serif;
}

body {
  color: #efedef;
  background: #001b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  width: 150px;
  height: auto;
  /* font-size: 25px; */
  /* color: #0ef; */
  text-decoration: none;
  /* font-weight: 600; */
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* .navbar{
  position: fixed;
  margin-left: 400px;
  /* display: inline-block; */
/* justify-content: space-between; */

/* } */
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 540;
  margin-left: 40px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.navbar a:hover {
  color: aqua;
  text-decoration: underline;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(background5.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 20px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 20px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #bef;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background: transparent;
  border: 2px solid aquamarine;
  border-radius: 50%;
  font-size: 20px;
  color: aquamarine;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.25 * var(--i));

  margin: 34px 35px 30px 0;
}

.home-sci a:hover {
  background: #bef;
  color: #001b29;
  box-shadow: 0 0 20px #bef;
}

.btn-box {
  display: inline-block;
  padding: 12px 25px;
  background: aqua;
  border-radius: 40px;
  font-size: 16px;
  color: #001b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px aqua, 0 0 25px aqua;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

#about {
  padding-top: 60px;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  padding-bottom: 20px;
  max-width: 630px;
  height: 30%;
  width: 50%;
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 50px;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: aqua;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.education {
  padding-top: 80px;
}

#education {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 30px;
}

.sub-title span {
  color: #0ef;
}

.container {
  padding: 90px;
  line-height: 1;
}

.education-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

/* .education-list div:hover{
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 3s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;

} */
.education-list div img {
  position: relative;
  right: 30px;
  bottom: 30px;
}

.education-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #0122bbf7, 1px 1px 40px #0053b4;
}

.education-list div i {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.education-list div a {
  text-decoration: none;
  color: #000004;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.education-list h2{
  position: relative;
  bottom: 25px;
  font-style:italic;
  font-family:cursive;
  color:wheat;
  font-size: 25px;
  right: 15px;
}
.education-list ul{
  font-size: 18px;
  font-style:italic;
  font-family:cursive;
  line-height: 1.5;
}

.read {
  display: inline-block;
  padding: 12px 20px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #001b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 3s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.read:hover {
  background: #0ef;
  color: #051129;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

#skills {
  padding-top: 100px;
}

.container1 {
  color: aliceblue;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 2rem;
  /* padding-top: 90px; */
  display: grid;
}

.Technical-bars span {
  font-size: 20px;
}

.Technical-bars span:nth-child(4) {
  text-align: left;
}

.Technical-bars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0));
  grid-gap: 20px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  margin-left: 25px;
}

.Technical-bars div {
  background-color: transparent;

  padding: 35px;
  font-size: 10px;
  font-weight: 16px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #0122bbf7, 1px 1px 40px #0053b4;
}

.Technical-bars div i {
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 500;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
  padding-bottom: 100px;
}

.bar {
  font-size: 23px;
}

.bar:hover {
  background: #0ef;
  color: #051129;
  box-shadow: 0 0 20px #0ef;
  border-radius: 10px;
  text-align: center;
}

/* Portfolio project-- css */
#portfolio {
  padding-top: 80px;
}

.main-text {
  padding-bottom: 130px;
  margin-bottom: 40px;
  display: grid;
}

.main-text h2 {
  font-size: 60px;
  line-height: 1.5;
  text-align: center;
}

.main-text h2 span {
  color: #0ef;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: 310px 310px 310px 310px; */
  /* grid-template-rows: 359px 359px; */
  gap: 10px;
  margin: 10px;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1),cyan);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  padding: 0 40px;
  transition: height 0.5s;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.layer h5 {
  color: red;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
 position: relative;
 right: 20px;
}

.layer p {
  /* color: #fff; */
  font-size: 1rem;
  line-height: 1.8;
  
}

.layer i {
  color: #000;
  margin-top: 15px;
  font-size: 70px;
  background: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.layer a {
  text-decoration: none;
  position: relative;
  left: 50px;
  
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

/* contact css */
#contact {
  padding-top: 150px;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-bottom: 90px;
}

.contact-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
}

.contact-text h2 span {
  color: #0ef;
}

.contact-text h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
}

.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-list {
  margin-bottom: 3rem;
  display: block;
  font-size: 20px;
}

.contact-list i {
  display: inline-block;
  color: #0ef;
  font-size: 25px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.contact-list li a:hover {
  transform: scale(1.01) translate(-5px);
  color: #0ef;
}

.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.contact-icons i:hover {
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form form .send {
  display: inline-block;
  padding: 14px 60px;
  background: #0ef;
  border-radius: 40px;
  font-size: 18px;
  color: #001b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 3s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.contact-form form .send:hover {
  background: #0ef;
  color: #051129;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.last-text p {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(7, 85, 91);
  font-weight: 300;
  margin-top: 70px;
}

.top {
  position: relative;
  bottom: 3.5rem;
  right: 2, 1rem;
}

.top i {
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}
